h1 { color: rgb(129, 194, 39); text-align: center; font-size:90px}
h2 { color: rgb(39, 179, 194); font-size:40px; margin-left:50px}
p {margin-left:90px; font-size: 20px;}
div{margin:55px; border:#00F solid 5px; background-color:cyan; padding:2px; background-color:rgba(255,255,0, 0.5); }
body{position: relative; padding-bottom: 3em; min-height: 100vh; background-color: bisque;}
p.final {float: right;}
p.principio {float: left;}
footer{position: absolute; bottom: 0; width: 100%;}

